<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Fund My Project!</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body class='main-homepage'>
    <div>
      <header class='nav-guide'>
        <h1 class='main-title-container'>
          <img class='main-icon' src='/images/main-icon.png' />
          <a class='main-title' href='/'>TechHub</a>
        </h1>
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a class="nav-link" href='/'><img class="nav-icon" src="/images/home.png">Home</a>
            <a class="nav-link" href='/profile'><img class="nav-icon" src="/images/profile.png">Profile</a>
            <a class="nav-link" id='logout'><img class="nav-icon" src="/images/logout.png">Logout</a>
          {{else}}
            <a class="nav-link" href='/'><img class="nav-icon" src="/images/home.png">Home</a>
            <a class="nav-link" href='/login'><img class="nav-icon" src="/images/login.png">Login</a>
          {{/if}}
        </nav>
      </header>
    </div>
    <div>
      <main class='container container-fluid mt-5'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
    </div>
    <footer>

    </footer>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>