<div class="homepage">
<div class="intro-text">
  <h1 class="intro-heading">
    Welcome to Party Planner
  </h1>
  <p class="intro-slogan">Where visions become extraordinary events!</p>
<p class="intro-message">We specialize in crafting unforgettable experiences that mirror your distinctive style. Let's transform your ideas into remarkable celebrations together!</p>
</div>
</div>
